html {
  box-sizing: border-box;
  background: #fefefe;
  color: #222;
  font-family: "Open Sans", sans-serif; 
  font-size: 16px;
  padding: 0 1rem;    
}

*, *:before, *:after {
  box-sizing: inherit;
}

header h1 > a {
  color: #0080ff;
  text-decoration: none;
}

.document header h1 > a:first-child {
  display: inline-block;
  float: right;
}

#github {
  color: #0080ff;
  text-decoration: none;  
  margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 1rem;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

h1 {
  color: #444;
}

h2 {
  color: #333;
}

nav {
  border-top: 1px solid #ccc;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul > li > p {
  font-style: italic;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

nav ul > li > a.current {
  color: #222;
  text-decoration: none;
}

.document main {
  margin: 1rem 0;
  padding: 2rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

footer {
  font-size: 0.8rem;
}

img {
  width: 100%;
  height: auto;
}

blockquote {
  background: #f5f5f5;
  width: 100%;
  border-left: 0.25rem solid #ccc;
  margin-left: 0;
  font-style: italic;
  padding: 1rem;
}

blockquote > p:first-child {
  margin-top: 0;
}

blockquote cite:before {
  content: '–';  
}

blockquote cite {
  display: block;
  text-align: right;
}

strong {
  font-weight: 600;
}


textarea {
  border: 1px solid #bbb;  
}

.document {
  width: 65rem;  
  max-width: 100%;
  margin: auto;
}

.tabular-list {
  display: table;
  padding-left: 0;
}

.tabular-list > li {
  display: table-row;
}

.tabular-list > li:before {
  color: #aaa;
  content: "\2022";
  padding-right: 0.5rem;
}

.tabular-list > li > * {
  display: table-cell;
  padding-right: 1rem;
}

.tabular-list > li > *:last-child {
  padding-right: 0;
}

.aspect {
  display: block;
  position: relative;
  width: 100%;
}

.aspect:before {
  content: "";
  display: block;  
  padding-top: 100%;
}

.aspect > .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.aspect-3-1:before {
  padding-top: 33.33%;
}

.aspect > .content > textarea {
  width: 100%;
  height: 90%;
  resize: none;
}

button {
  border: 0;
  background: #39f;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
}

button:disabled {
  background: #ccc;
}

@media ( min-width: 600px ) {
  header {
    font-size: 1.1rem;
  }  
  
  main {
    line-height: 1.8;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .row > * {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 1rem;
  }
  
  .row > *:first-child {
    padding-left: 0;
  }  
  
  .row > *:last-child {
    padding-right: 0;
  }  
}